<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime</title>
    {% block styles %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&family=Roboto+Condensed:wght@300;400;500&display=swap');
        </style>
        <link rel="stylesheet" href="../static/css/style.css">
    {% endblock %}
</head>
<body>
<nav class="shadow navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MG's Anime World</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upcoming">Upcoming</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/airing">Airing</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/favorite">Favorite</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">Anime</a></li>
            <li><a class="dropdown-item" href="/characters/top">Anime Top Characters</a></li>
            <li><hr class="dropdown-divider"></li>
            <form action="/characters" method="post" novalidate class="d-flex m-3" role="search">
                <input name="character_name" class="form-control me-2 p-2 g-col-6" type="search" placeholder="Enter Anime Character" aria-label="Search" required>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </ul>
        </li>
      </ul>
      <form action="/search" method="POST" novalidate class="d-flex" role="search">
        <input name="title" class="form-control me-2" type="search" placeholder="Enter Anime Title" aria-label="Search" required>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>